
<% provide(:title, 'Products') %>


<div class="container">
  <%= link_to 'CREATE', new_product_path, class: 'btn btn-primary' %>
</div>

<% @products.each do |i|%>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <div class="alert alert-primary shadow-lg p-3 mb-5 bg-white rounded" role="alert">

        <% i.images.each do |image| %>

          <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
        <% end %>

      </div>
    </div>

      <div class="col-md-8">
        <div class="card-body">
          <div class="alert alert-primary" role="alert">
            <h1 class="card-title"><%= i.name %></h1>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <h3>$<%= i.price %></h3>
            <p class="card-text"><small class="text-muted"><%= i.created_at %>ago</small></p>
          </div>
          <%= link_to "delete", i, method: :delete, data: { confirm: "You sure?" } %>
          <%= link_to "Edit", edit_product_path(i) %>
        </div>
      </div>

    </div>
  </div>
  <% end %>
</div>




  <%= will_paginate %>


