<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="header">
    <div class="header-top">
      <div class="container">
        <div class="col-sm-4 logo animated wow fadeInLeft" data-wow-delay=".5s">
          <h1><%= link_to 'RuBY Fashion', home_path%></h1>
        </div>
        <div class="col-sm-4 world animated wow fadeInRight" data-wow-delay=".5s">

          </div>
          <div class="col-sm-2 number animated wow fadeInRight" data-wow-delay=".5s">
            <span style="color:white" ><i style="color:white"  class="glyphicon glyphicon-phone"> </i > 089.999.999</span>
            <p style="color:white"> Call me</p>


          </div>
                      <div class="col-md-6 top-footer1 animated wow fadeInRight" data-wow-delay=".5s">
      <div class="search-hotel">
        <h3 class="agileits-sear-head">Search Here..</h3>
      </div>
      <div>
        <%= form_for search_path, method: :get do |f| %>
          <%= text_field_tag :query, params[:query],
            placeholder: "" %>
          <%= button_to "", name: nil, class: "btn btn-default",
            "aria-label" => "Left Align" do %>
            <span class="glyphicon glyphicon-search" aria-hidden="true"> </span>
          <% end %>
        <% end %>
      </div>



          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="container">
        <div class="head-top">
          <div class="n-avigation">

            <nav class="navbar nav_bottom" role="navigation">

             <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header nav_2">
              <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
              <ul class="nav navbar-nav nav_1">
                <li>
                	<%= link_to 'Home', home_path %>
                </li>



                <li>
                	<%= link_to 'Products', all_path %>

                </li>
                <li>
                	<%= link_to 'Sign In', login_path %>
                </li>
                <li class="last">
                	<%= link_to 'Contact', contact_path %>
                </li>
                <li class="last">
                  <%= link_to 'Admin', products_path %>
                </li>

              </ul>
            </div><!-- /.navbar-collapse -->

          </nav>
        </div>
</header>
